src/main/app/vars-flights.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <flow name="vars-flightsMainFlow">
        <vm:inbound-endpoint exchange-pattern="request-response" path="varsVmQueue" connector-ref="varsVmConfiguration" doc:name="varsVmQueue"/>
        <logger level="INFO" doc:name="Logger"/>
        <set-variable variableName="propertyFlowVar" value="#[message.inboundProperties.propertyVar]" doc:name="propertyFlowVar"/>
        <logger level="INFO" doc:name="Logger"/>
        <logger message="#[&quot;\nflowVar2: &quot; + flowVars.flowVar + &quot;\nsessionVar2: &quot; + sessionVars.sessionVar + &quot;\npropertyFlowVar2: &quot; + flowVars.propertyFlowVar]" level="INFO" doc:name="Logger2"/>
        <flow-ref name="vars-flightsFlow" doc:name="Flow Reference"/>
        <set-payload value="#[payload]" doc:name="Set Payload"/>
    </flow>
    <flow name="vars-flightsFlow">
        <logger level="INFO" doc:name="Logger"/>
        <logger message="#[&quot;\nflowVar3: &quot; + flowVars.flowVar + &quot;\nsessionVar3: &quot; + sessionVars.sessionVar + &quot;\npropertyFlowVar3: &quot; + flowVars.propertyFlowVar]" level="INFO" doc:name="Logger3"/>
        <set-property propertyName="propertyVar" value="property2" doc:name="property2"/>
        <http:request config-ref="HTTP_Request_Configuration" path="/vars/accounts" method="GET" doc:name="/vars/accounts"/>
    </flow>
</mule>
